{% extends "base.html" %}
{% load static %} 
{% block title %}Services{% endblock %}
{% block content %}
<div class="services">
    <div class="container">
        <h2>Наши услуги</h2>
           <div class="section group sec_group">
               <div class="col-md-6 service_sec">
                   <div class="listimg listimg_2_of_1">
                         <img src="{% static "images/service-6.png" %}" alt="" />
                   </div>
                   <div class="text list_2_of_1">
                       <h3>Непосредственная поддержка</h3>
                       <p>Наш сервис очень внимательно относится к каждому клиенту. Прежде всего. Наш сервис очень внимательно относится к каждому клиенту. Прежде всего. </p>
                  </div>
                  <div class="clearfix"></div>
              </div>			
             <div class="col-md-6 service_sec ">
                   <div class="listimg listimg_2_of_1">
                         <img src="{% static "images/service-2.png" %}" alt="" />
                   </div>
                   <div class="text list_2_of_1">
                         <h3>Качественное обслуживание</h3>
                         <p>Дома у нас был цыпленок, был курятник,
                            И крошечный птенец, цыпленок и птичий щебет, чириканье и курица и курица ГРП, ГРП и курица и курица-пи.Дома у нас был цыпленок, был курятник,
                            И крошечный птенец, цыпленок и птичий щебет, чириканье и курица и курица ГРП, ГРП и курица и курица-пи.</p>
                   </div>
                   <div class="clearfix"></div>
               </div>
               <div class="clearfix"></div>
           </div>  
           <div class="section group sec_group">
               <div class="col-md-6 service_sec">
                   <div class="listimg listimg_2_of_1">
                         <img src="{% static "images/service-3.png" %}" alt="" />
                   </div>
                   <div class="text list_2_of_1">
                       <h3>Забота о клиенте</h3>
                       <p>Наш сервис очень внимательно относится к каждому клиенту. Прежде всего Наш сервис очень внимательно относится к каждому клиенту. Прежде всего </p>
                  </div>
                  <div class="clearfix"></div>
              </div>			
               <div class="col-md-6 service_sec">
                   <div class="listimg listimg_2_of_1">
                         <img src="{% static "images/service-4.png" %}" alt="" />
                   </div>
                   <div class="text list_2_of_1">
                         <h3>Сертифицированные детали</h3>
                         <p>Наш сервис очень внимательно относится к каждому клиенту. Прежде всего Наш сервис очень внимательно относится к каждому клиенту. Прежде всего </p></p>
                   </div>
                   <div class="clearfix"></div>
               </div>
               <div class="clearfix"></div>
           </div>
           <div class="section group sec_group">
               <div class="col-md-6 service_sec">
                   <div class="listimg listimg_2_of_1">
                         <img src="{% static "images/service-5.png" %}" alt="" />
                   </div>
                   <div class="text list_2_of_1">
                       <h3>Система скидок</h3>
                       <p>Шёл 1900 год, из-за двух гладких нолей казавшийся Сане похожим на одноместную коляску-эгоистку. И правда — всё вокруг мелькало, с невиданной прежде быстротой менялось и, вдруг замерев, подпрыгивало. Следом подпрыгивало и Санино сердце и, оказавшись где-то в горле, ухало вниз, маленькое, дрожащее и всё-таки — ликующее. Саня не был готов к таким переменам — не поспевал. Он стал скверно спать и за несколько недель вытянулся, почти сравнявшись ростом с мамой. От детских кудряшек не осталось и следа: волосы Сани потемнели, стали жёсткими, прямыми и — к его ужасу и стыду — опушили даже верхнюю губу и подмышки.</p>
                  </div>
                  <div class="clearfix"></div>
              </div>			
               <div class="col-md-6 service_sec">
                   <div class="listimg listimg_2_of_1">
                         <img src="{% static "images/service-1.png" %}" alt="" />
                   </div>
                   <div class="text list_2_of_1">
                         <h3>Система шиномонтажа</h3>
                         <p>Шёл 1900 год, из-за двух гладких нолей казавшийся Сане похожим на одноместную коляску-эгоистку. И правда — всё вокруг мелькало, с невиданной прежде быстротой менялось и, вдруг замерев, подпрыгивало. Следом подпрыгивало и Санино сердце и, оказавшись где-то в горле, ухало вниз, маленькое, дрожащее и всё-таки — ликующее. Саня не был готов к таким переменам — не поспевал. Он стал скверно спать и за несколько недель вытянулся, почти сравнявшись ростом с мамой. От детских кудряшек не осталось и следа: волосы Сани потемнели, стали жёсткими, прямыми и — к его ужасу и стыду — опушили даже верхнюю губу и подмышки.</p>
                   </div>
                   <div class="clearfix"></div>
               </div>
               <div class="clearfix"></div>
        </div>
    </div>  	   
</div> 
{% endblock %}