{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}  
<h1>Авторизация</h1>  
{% if form.errors %}    
<p>Your username and password didn't match.Please try again.</p>  
{% else %}    
<p>Пожалуйста используйте корректный логин или пароль. Если у Вас нет аккаунта <a href="{% url "register" %}">зарегистрироваться</a></p>  
{% endif %}  
<div class="login-form">    
    <form action="{% url 'login' %}" method="post">      
        {{ form.as_p }}      
        {% csrf_token %}      
        <input type="hidden" name="next" value="{{ next }}" />      
        <p><input type="submit" value="Войти"></p>
    </form>  
</div>
{% endblock %} 